html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
}

#container {
    width: 100%;
    height: 100%;
    background: url('bg.png') repeat-x black;
    /* background: linear-gradient(0deg, rgba(8,22,38,1) 0%, rgba(16,46,70,1) 50%, rgba(0,61,79,1) 100%); */
    overflow-y: hidden;
    -webkit-tap-highlight-color: transparent;
}

#popup {
    top: 394px;
    background-color: black;
    border: 1px #1A1A1A solid;
    width: 722px;
    min-height: 200px;
    border-radius: 16px;
    padding-bottom: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 4px 5px 0px 2px rgb(0 0 0 / 30%), 7px 8px 0px 5px rgb(0 0 0 / 20%);
    text-align: center;
    z-index: 25;
}

#popup p.small {
    position: relative;
    color: white;
    font-size: 28px;
    box-sizing: border-box;
    padding: 15px 56px;
    line-height: 40px;
    overflow: hidden;
    width: 576.4px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5px;
    min-height: 100px;
}

#popup button {
    position: absolute;
    bottom: 32px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 72px;
    line-height: 65px;
    min-width: 296px;
    max-width: 392px;
    width: auto;
    font-size: 28px;
    font-weight: 700;
    border: 2px #1A1A1A solid;
    transform: scale(1.08) translateX(-45%);
    z-index: 75;
    display: inline-block;
    border-radius: 16px;
    box-sizing: border-box;
}

#popup button:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-animation {
    width: 140px;
    height: 140px;
}

.circle{
    fill-opacity: 1;
    transition: cx 0.1s linear, cy 0.1s linear;
}

#header {
    width: 100%;
    height: 15%;
    display: table;
    text-align: center;
}

#header p {
	width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    font-size: 4em;
    font-weight: bold;
}

#contents {
    width: 100%;
    height: 70%;
    display: table;
    text-align: center;
}

#main {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#main > p {
	padding: 10px 0;
    font-size: 2.5em;
    font-weight: normal;
}

#main p.small {
	padding: 6px 0;
    font-size: 2em;
    font-weight: normal;
}

#footer {
    width: 100%;
    height: 15%;
    display: table;
    text-align: center;
}

#footer p {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

#footer button {
    margin: 5px 20px;
    padding: 15px 85px;
    border: 0px;
    border-radius: 20px;
    /* background: #0c2747; */
    background: rgba(0,0,0,0.4);
    color: white;
    box-shadow: none;
    font-size: 2em;
    font-weight: bold;
    transition: padding box-shadow;
    transition-duration: 0.1s;
    opacity: 0.7;
}

#footer button:focus {
    margin: 0 5px;
    padding: 20px 100px;
    border: 0px;
    border-radius: 20px;
    background: white;
    color: #0c2747;
    box-shadow: 10px 10px 0 1px rgba(0,0,0,0.5);
    outline: none;
    opacity: 1;
}

#items p {
    width: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

#items {
    width: 100%;
    height: 15%;
    display: table;
    text-align: center;
}

#items button {
    margin: 5px 20px;
    padding: 15px 85px;
    border: 0px;
    border-radius: 20px;
    /* background: #0c2747; */
    background: rgba(0,0,0,0.4);
    color: white;
    box-shadow: none;
    font-size: 2em;
    font-weight: bold;
    transition: padding box-shadow;
    transition-duration: 0.1s;
    opacity: 0.7;
}

#items button:focus {
    margin: 0 5px;
    padding: 20px 100px;
    border: 0px;
    border-radius: 20px;
    background: white;
    color: #0c2747;
    box-shadow: 10px 10px 0 1px rgba(0,0,0,0.5);
    outline: none;
    opacity: 1;
}